@{
    ViewBag.Title = "Index";
}

<div id="page-content">
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title"></h3>
        </div>
        <!-- Foo Table - Add & Remove Rows -->
        <!--===================================================-->
        <div class="panel-body">

            <p class="text-purple">Este archivo no se ha generado</p>

        </div>
    </div>
</div>

