<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="SigesoftConnectionString" connectionString="metadata=res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.csdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.ssdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=25.16.162.230\SLSVSQLR2;Initial Catalog=SLSigesoftDBX;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=SA@2008R2&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ConexionDB" connectionString="Database=DB_LaborisSystem;Server=192.168.1.254\SLsvsql1;UID=sa;PWD=SA@2008"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <clear/>
    <add key="NodeId" value="7" />
    <add key="TimerIntervale" value="3000" />
    <add key="PathVideo" value="Video"/>
    <add key="PathSound" value="D:\Sigesoft.Node.WinQueueVisor.UI\Sound\BELLBOX.mp3"/>
    <add key="Repetitions" value="1"/>
    <!--<add key="CallFormat" value="Atención,{3},{0},{3},{0} por favor acérquese a la oficina {1} para su examen, de {2}. Oficina {1} para su examen, de {2}, gracias."/>-->
    <!--<add key="CallFormat" value="Atención, Paciente {0}. Paciente {0}, al consultorio de {1}, para su examen, gracias."/>-->
    <add key="CallFormat" value="Paciente {0}. Paciente {0}, acérquese al consultorio numero {2}, de {1}, para su examen."/>
  </appSettings>
</configuration>
