<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="SigesoftConnectionString" connectionString="metadata=res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.csdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.ssdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.254\SLSVSQLR2;Initial Catalog=SLSigesoftDBX;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=SA@2008R2&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ConexionDB" connectionString="Database=DB_LaborisSystem;Server=192.168.1.254\SLsvsql1;UID=sa;PWD=SA@2008"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="NodeId" value="3" />
    <add key="rutaReportes" value="C:\Reportes\" />
    <add key="rutaReportesBasura" value="C:\ReportesBasura\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ImgAdminOrigen" value="\\192.168.1.254\Reportes Medicos\Administracion\" />
    <add key="ImgAdminDestino" value="\\192.168.1.254\Reportes Medicos\Administracion\" />

    <add key="ImgPsicoOrigen" value="\\192.168.1.254\Reportes Medicos\Psicologia\" />
    <add key="ImgPsicoDestino" value="\\192.168.1.254\Reportes Medicos\Psicologia\" />

    <add key="ImgRxOrigen" value="\\192.168.1.254\Reportes Medicos\Radiologia\" />
    <add key="ImgRxDestino" value="\\192.168.1.254\Reportes Medicos\Radiologia\" />

    <add key="ImgEKGOrigen" value="\\192.168.1.254\Reportes Medicos\Cardiologia\" />
    <add key="ImgEKGDestino" value="\\192.168.1.254\Reportes Medicos\Cardiologia\" />

    <add key="ImgESPIROOrigen" value="\\192.168.1.254\Reportes Medicos\Neumologia\" />
    <add key="ImgESPIDestino" value="\\192.168.1.254\Reportes Medicos\Neumologia\" />

    <add key="ImgMedicinaOrigen" value="\\192.168.1.254\Reportes Medicos\Medicina\" />
    <add key="ImgMedicinaDestino" value="\\192.168.1.254\Reportes Medicos\Medicina\" />

    <add key="ImgLABOrigen" value="\\192.168.1.254\Reportes Medicos\Laboratorio\" />
    <add key="ImgLABDestino" value="\\192.168.1.254\Reportes Medicos\Laboratorio\" />

    <add key="ImgOftalmoOrigen" value="\\192.168.1.254\Reportes Medicos\Oftalmologia\" />
    <add key="ImgOftalmoDestino" value="\\192.168.1.254\Reportes Medicos\Oftalmologia\" />

    <add key="FirmaHuella" value="\\192.168.1.254\Reportes Medicos\FirmaHuella\"/>
  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>

</configuration>
