<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="SigesoftConnectionString" connectionString="metadata=res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.csdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.ssdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=181.224.231.3;Initial Catalog=SLSigesoftDBX;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=SA@2019&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="NodeId" value="3" />
    <add key="rutaReportes" value="D:\XXX\" />
    <add key="rutaReportesBasura" value="D:\XXX\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ImgAdminOrigen" value="D:\XXX\" />
    <add key="ImgAdminDestino" value="D:\XXX\" />

    <add key="ImgPsicoOrigen" value="D:\XXX\" />
    <add key="ImgPsicoDestino" value="D:\XXX\" />

    <add key="ImgRxOrigen" value="D:\XXX\" />
    <add key="ImgRxDestino" value="D:\XXX\" />

    <add key="ImgEKGOrigen" value="D:\XXX\" />
    <add key="ImgEKGDestino" value="D:\XXX\" />

    <add key="ImgESPIROOrigen" value="D:\XXX\" />
    <add key="ImgESPIDestino" value="D:\XXX\" />

    <add key="ImgMedicinaOrigen" value="D:\XXX\" />
    <add key="ImgMedicinaDestino" value="D:\XXX\" />

    <add key="ImgLABOrigen" value="D:\XXX\" />
    <add key="ImgLABDestino" value="D:\XXX\" />

    <add key="ImgOftalmoOrigen" value="D:\XXX\" />
    <add key="ImgOftalmoDestino" value="D:\XXX\" />

    <add key="FirmaHuella" value="D:\XXX\" />



    <!--<add key="rutaReportes" value="\\25.32.255.17\REPORTESPUB3\" />
    <add key="rutaReportesBasura" value="\\25.32.255.17\REPORTESTRASH\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="ImgAdminOrigen" value="\\25.32.255.17\Reportes Medicos\Administracion\" />
    <add key="ImgAdminDestino" value="\\25.32.255.17\Reportes Medicos\Administracion\" />
      
    <add key="ImgPsicoOrigen" value="\\25.32.255.17\Reportes Medicos\Psicologia\" />
    <add key="ImgPsicoDestino" value="\\25.32.255.17\Reportes Medicos\Psicologia\" />
      
    <add key="ImgRxOrigen" value="\\25.32.255.17\Reportes Medicos\Radiologia\" />
    <add key="ImgRxDestino" value="\\25.32.255.17\Reportes Medicos\Radiologia\" />

    <add key="ImgEKGOrigen" value="\\25.32.255.17\Reportes Medicos\Cardiologia\" />
    <add key="ImgEKGDestino" value="\\25.32.255.17\Reportes Medicos\Cardiologia\" />

    <add key="ImgESPIROOrigen" value="\\25.32.255.17\Reportes Medicos\Neumologia\" />
    <add key="ImgESPIDestino" value="\\25.32.255.17\Reportes Medicos\Neumologia\" />

    <add key="ImgMedicinaOrigen" value="\\25.32.255.17\Reportes Medicos\Medicina\" />
    <add key="ImgMedicinaDestino" value="\\25.32.255.17\Reportes Medicos\Medicina\" />

    <add key="ImgLABOrigen" value="\\25.32.255.17\Reportes Medicos\Laboratorio\" />
    <add key="ImgLABDestino" value="\\25.32.255.17\Reportes Medicos\Laboratorio\" />

    <add key="ImgOftalmoOrigen" value="\\25.32.255.17\Reportes Medicos\Oftalmologia\" />
    <add key="ImgOftalmoDestino" value="\\25.32.255.17\Reportes Medicos\Oftalmologia\" />
    
    <add key="FirmaHuella" value="\\25.32.255.17\FirmaHuella\"/>-->
    <add key="RutaCovid" value="\\192.168.2.2\regcovid_fichascovid19\" />
    <add key="EsMayuscula" value="0" />
  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>

</configuration>
