<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SLSigesoftConnection" connectionString="metadata=res://Sigesoft.Server.WebClientAdmin.DAL.PostgreSQL/DMpostgreSQL.csdl|res://Sigesoft.Server.WebClientAdmin.DAL.PostgreSQL/DMpostgreSQL.ssdl|res://Sigesoft.Server.WebClientAdmin.DAL.PostgreSQL/DMpostgreSQL.msl;provider=Devart.Data.PostgreSql;provider connection string=&quot;User Id=postgres;Password=postgres;Host=localhost;Database=SLSigesoftNodeMeryLucy;Persist Security Info=True&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>