<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SigesoftConnectionString" 
         connectionString="metadata=res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.csdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.ssdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=25.61.169.123;Initial Catalog=SLSigesoftDBX;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=SA@2019&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="rutaFichasCovid" value="\\25.61.169.123\regcovid_fichascovid19\" />
    <add key="rutaLog" value="C:\LOG_BACKGROUND\" />
  </appSettings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
