<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" />
  </configSections>

  <connectionStrings>
    <add name="SigesoftConnectionString" connectionString="metadata=res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.csdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.ssdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SLSigesoftDBX;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=SA@2019&quot;"
      providerName="System.Data.EntityClient" />
    <add name="SLProvider" connectionString="" providerName="System.Data.SqlClient" />
    <add name="SIGESOftConnStr" connectionString="Data Source=25.46.111.53\SLSRVRSQL2019; Initial Catalog=SLSigesoftDBX; user=sa; password=SA@2019"
      providerName="" />
  </connectionStrings>

  <appSettings>
    <add key="rutaReportes" value="\\25.32.255.17\ReportesPub3\" />
    <add key="NodoWin" value="3" />
    <add key="ImgEKGOrigen" value="D:\Reportes Medicos\" />
    <add key="ImgEKGDestino" value="D:\Reportes Medicos\" />
    <add key="rutaReportesPlacas" value=""/>
    <add key="rutaReportesCovid19" value="\\25.73.130.24\FichasCovid\"/> 
  </appSettings>

  <FineUI EnableBigFont="true" DebugMode="false" Language="en" IconBasePath="~/images/icons" Theme="blue" />
  <system.web>
    <httpRuntime maxRequestLength="20000" />
    <sessionState mode="InProc" timeout="20" />
    <compilation debug="true" targetFramework="4.0">
    </compilation>

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="Ext" />
      </controls>
    </pages>

    <!--<customErrors mode="RemoteOnly" defaultRedirect="frmCustomErrorPage.aspx"/>-->
    <customErrors mode="Off" />

    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="frmLogin.aspx" protection="All" timeout="900" defaultUrl="frmMaster.aspx">
      </forms>
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

  </system.web>

  <location path="frmLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
    </modules>
    <handlers>
      <add name="FineUIResourceHandler" verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="frmLogin.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
