<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="SigesoftConnectionString" connectionString="metadata=res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.csdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.ssdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=25.32.255.17;Initial Catalog=SLSigesoftDBX;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=SA@2008R2&quot;" providerName="System.Data.EntityClient"/>
  -->

  <add name="SigesoftConnectionString" connectionString="metadata=res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.csdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.ssdl|res://Sigesoft.Node.WinClient.DAL.MSSQL/DMnodeSQLServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=25.73.130.24\CALIDAD;Initial Catalog=SLSigesoftCALIDAD;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=jwRKIgg5&quot;"
     providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="rutaReportes" value="D:\SL Reporte Excel Covid\"/>
    <add key="NodeId" value="3"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
