<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <clear/>
    <!--***Provider Name-->
    <add name="SLProvider" connectionString="" providerName="System.Data.SqlClient"/>
    <add name="SIGESOftConnStr" connectionString="Data Source=XGAM007; Initial Catalog=SLSigesoftDBX; user=sa; password=SA@2012" providerName=""/>
    <!--<add name="SIGESOftConnStr" connectionString="Data Source=192.168.1.254\SLSVSQLR2; Initial Catalog=SLSigesoftBUS; user=sa; password=SA@2008R2" providerName=""/>-->
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
